/* desktop version */

:root {
    font-size: 62.5%;

    /* Colors */
    /* Primary */
    --bright-red: hsl(12, 88%, 59%);
    --dark-blue: hsl(228, 39%, 23%);

    /* Neutral */
    --dark-grayish-blue: hsl(227, 12%, 61%);
    --very-dark-blue: hsl(233, 12%, 13%);
    --very-pale-red: hsl(13, 100%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);

    /* font */
    --be-vietnam-pro: 'Be Vietnam Pro', sans-serif;
}

@media (min-width: 1400px) {
    .container {
        width: 138rem;
    }

    /* header */

    .header {
        width: 138rem;
        padding: 0 8rem;
    }

    .navigation {
        margin-bottom: 10rem;
    }

    .desktopMenu {
        display: flex;
        align-items: center;
        gap: 3rem;
    }

    .desktopMenu-a {
        color: var(--dark-blue);
        font-size: 1.6rem;
    }

    .desktopMenu-a:hover {
        color: var(--dark-grayish-blue);
        font-weight: bold;
        transition: all .3s;
    }
    
    .buttonGetStarted {
        border: none;
        background-color: var(--bright-red);
        color: var(--very-light-gray);
        padding: 1.5rem 4rem;
        border-radius: 5rem;
        font-size: 1.5rem;
        font-weight: bold;
        display: block;
        cursor: pointer;
    }

    .buttonGetStarted:hover {
        filter: opacity(0.7);
    }

    .hamburgerMenu {
        display: none;
    }

    .imageLogo {
        width: 20%;
    }

    /* main, section-1 */

    .main {
        width: 138rem;
        /* padding: 0 8rem; */
    }
    
    .section-1 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 0 8rem;
    }

    .imageSection-1 {
        width: 70%;
    }

    .titleSection-1 {
        font-size: 5rem;
        text-align: left; 
        margin-bottom: 2rem;
    }
    
    .textSection-1 {
        font-size: 2rem;
        text-align: left;
        margin-bottom: 4rem;
        width: 75%;
    }
    
    .buttonGetStartedMain {
        margin: auto 0 auto 2rem;
        font-size: 2rem;
    }

    /* main, section-2 */

    .section-2 {
        display: flex;
        justify-content: space-between;
        gap: 10rem;
        padding: 0 8rem;
    }

    .titleSection-2 { /* Using in other section too. */
        font-size: 3rem;
        text-align: left;
        margin-bottom: 2rem;
    }

    .textSection-2 {
        text-align: justify;
        font-size: 2rem;
        width: 100%;
        margin-bottom: 4rem;
    }

    .wrapNumberSubtitleText {
        margin-top: 0rem;
    }

    .wrapNumberSubtitle {
        background-color: white;
        margin-bottom: 2rem;
    }

    .numberSection-2 {
        padding: 1rem 3rem;
        font-size: 2rem;
    }

    .subtitleSection-2 {
        width: auto;
        background-color: white;
        font-size: 2rem;
    }

    /* main, section-3 */

    .buttonGetStartedSection-3 {
        font-size: 2rem;
    }

    .titleSection-3 { /* Using in other section too. */
        text-align: center;
    }

    .containerImages {
        flex-direction: row;
    }

    /* main, section-4 */

    .section-4 {        
        width: 138rem;
        
        display: flex;
        justify-content: space-between;
        align-items: center;


        padding-top: 5rem;
        padding-right: 8rem;
        padding-bottom: 5rem;
        padding-left: 8rem;
    }

    .titleSection-4 {
        text-align: left;   
        width: 40rem;
    }
    
    br {
        display: none;
    }

    .buttonGetStartedWhite {
        font-size: 2rem;
        margin-top: 0;
    }

    /* footer */

    .footer {
        width: 138rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: baseline;
        padding-top: 5rem;
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .wrapBrandIconsLogo {
        flex-direction: column-reverse;
        gap: 10rem;
    }

    .wrapMenuFooter {
        gap: 10rem;
    }

    /* footer-2 */

    .footer-2 {
        width: 138rem;
    }

    .textFooterFirst {
        width: 50rem;
    }
    
}